{#
/**
 * @file
 * Default theme implementation to navigate books.
 *
 * Presented under nodes that are a part of book outlines.
 *
 * Available variables:
 * - tree: The immediate children of the current node rendered as an unordered
 *   list.
 * - current_depth: Depth of the current node within the book outline. Provided
 *   for context.
 * - prev_url: URL to the previous node.
 * - prev_title: Title of the previous node.
 * - parent_url: URL to the parent node.
 * - parent_title: Title of the parent node. Not printed by default. Provided
 *   as an option.
 * - next_url: URL to the next node.
 * - next_title: Title of the next node.
 * - has_links: Flags TRUE whenever the previous, parent or next data has a
 *   value.
 * - book_id: The book ID of the current outline being viewed. Same as the node
 *   ID containing the entire outline. Provided for context.
 * - book_url: The book/node URL of the current outline being viewed. Provided
 *   as an option. Not used by default.
 * - book_title: The book/node title of the current outline being viewed.
 *
 * @see template_preprocess_book_navigation()
 *
 * @ingroup themeable
 */
#}
{% if tree or has_links %}
  <nav role="navigation" aria-labelledby="book-label-{{ book_id }}" class="container contain">
    {% if has_links %}
      <div class="previous-pages">
        <ul>
          {% if prev_url %}
            <li class="col-sm-offset-2 col-sm-2 hidden-xs">
                <a href="{{path('entity.node.canonical', {'node': 2})}}" rel="prev" title="{{ 'Go to first page'|t }}"><img src="/sites/default/files/webassets/First.gif" /></a>
            </li>
            <li class="col-sm-2 col-xs-6">
              <a href="{{ prev_url }}" rel="prev" title="{{ 'Go to previous page'|t }}"><img src="/sites/default/files/webassets/Back.gif" /></a>
            </li>
          {% endif %}
        </ul>
      </div>
      <div class="next-pages">
        </ul>
        <ul>
          {% if next_url %}
            <li class="col-sm-2 col-xs-6">
              <a href="{{ next_url }}" rel="next" title="{{ 'Go to next page'|t }}"><img src="/sites/default/files/webassets/Forward.gif" /></a>
            </li>
            <li class="col-sm-2 hidden-xs">
              <a href="{{path('entity.node.canonical', {'node': 48})}}" rel="prev" title="{{ 'Go to last page'|t }}"><img src="/sites/default/files/webassets/Latest.gif" /></a>
            </li>
          {% endif %}
        </ul>
      </div>
    {% endif %}
  </nav>
  <div class="ink-drop-cafe-wide-wrapper col-xs-12">
    <div class="ink-drop-cafe-wide">
      <script src="https://scripts.inkdropcafe.com/rotator/comic_rotator468.js?teal"></script>
    </div>
  </div>
  <div class="ink-drop-cafe-tall-wrapper">
    <script src="https://scripts.inkdropcafe.com/rotator/comic_rotator.js?white"></script>
  </div>
{% endif %}

